<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!---->
    <div id="root">
        <!--Login-->
        <div id="InSe" class="container w-25 mt-5 mb-5  w-50-responsive border" v-show="Log == 0">
            <br>
            <legend id="t" class="text-center fw-bold">Iniciar sesión</legend>
            <br>
            <br>
            <input id="input" v-model="Userl" type="text" class="form-control" aria-describedby="emailHelp"
                placeholder="Usuario" required>
            <br>
            <input id="input" v-model="Pass" type="password" class="form-control" aria-describedby="emailHelp"
                placeholder="Password" required>
            <br>
            <div class="d-flex justify-content-center">
                <button id="BtnBlue" class="btn  w-100 mb-2 text-center" @click="Login">
                    <h5 id="t1" class="text-center fw-bold">Iniciar sesión</h5>
                </button>
            </div>
            <br>
        </div>
        <!--End Login-->
        <!--Main-->
        <div v-show="Log==1">
            <div class="navbar" v-for="user in User">
                <img :src=user.picture.thumbnail class="imgp">
                <label>{{user.login.username}}</label>
            </div>
            <div class="con">
                <div id="InSe" class="container w-95 mt-5 mb-5 w-50-responsive border">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Pet</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Species</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Color</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody v-show="Pets.length>0">
                            <tr v-for="pets in Pets">
                                <td><img :src=pets.Pet class="imgp"></td>
                                <td>{{pets.Name}}</td>
                                <td>{{pets.Type}}</td>
                                <td>{{pets.Species}}</td>
                                <td>{{pets.Gender}}</td>
                                <td>{{pets.Age}}</td>
                                <td>{{pets.Color}}</td>
                                <td>{{pets.Status}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button @click="Log=2" class="btn btn-primary a-btn-slide-text">
                        <strong>Register</strong>
                    </button>
                    &nbsp;
                    <button @click="Log=3" v-show="Pets.length>0" class="btn btn-success a-btn-slide-text">
                        <strong>Adopt</strong>
                    </button>
                    <br>
                    <br>
                </div>
                <!--Admin-->
                <div v-for="user in User" v-show="user.Type==0" id="InSe"
                    class="container w-95 mt-5 mb-5 w-50-responsive border">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Pets/Adopt</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in Users">
                                <td><img :src=user.picture.thumbnail class="imgp"></td>
                                <td>{{user.name.first}} {{user.name.last}}</td>
                                <td>{{user.login.username}}</td>
                                <td>{{user.gender}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.Pets}} / {{user.Adopt}}</td>
                                <td v-show="user.Type!=0">
                                    <button class="btn btn-danger a-btn-slide-text">
                                        <strong>Delete</strong>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--End Admin-->
            </div>
        </div>
        <!--End Main-->
        <!--RegisterPet-->
        <div v-show="Log==2">
            <label for="">RegisterPet</label>
            Name<input v-model="NameP" type="text">
            <select v-model="TypeP">
                <option value="Cat">Cat</option>
                <option value="Dog">Dog</option>
            </select>
            <select v-model="GenderP">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
            <br>
            Species<input v-model="SpeciesP" type="text">
            Age<input v-model="AgeP" type="text">
            Color<input v-model="ColorP" type="text">
            <div v-show="TypeP=='Cat'">
                <input type="radio" id="c1" value="c1.jpg" v-model="ImageP">
                <label for="c1.jpg"><img src="c1.jpg" @click="ImageP='c1.jpg'"></label><br>
                <input type="radio" id="c2" value="c2.jpg" v-model="ImageP">
                <label for="c2.jpg"><img src="c2.jpg" @click="ImageP='c2.jpg'"></label><br>
                <input type="radio" id="c3" value="c3.jpg" v-model="ImageP">
                <label for="c3.jpg"><img src="c3.jpg" @click="ImageP='c3.jpg'"></label><br>
                <input type="radio" id="c4" value="c4.jpg" v-model="ImageP">
                <label for="c4.jpg"><img src="c4.jpg" @click="ImageP='c4.jpg'"></label><br><br>
            </div>
            <div v-show="TypeP=='Dog'">
                <input type="radio" id="d1" value="d1.jpg" v-model="ImageP">
                <label for="d1.jpg"><img src="d1.jpg" @click="ImageP='d1.jpg'"></label><br>
                <input type="radio" id="d2" value="d2.jpg" v-model="ImageP">
                <label for="d2.jpg"><img src="d2.jpg" @click="ImageP='d2.jpg'"></label><br>
                <input type="radio" id="d3" value="d3.jpg" v-model="ImageP">
                <label for="d3.jpg"><img src="d3.jpg" @click="ImageP='d3.jpg'"></label><br>
                <input type="radio" id="d4" value="d4.jpg" v-model="ImageP">
                <label for="d4.jpg"><img src="d4.jpg" @click="ImageP='d4.jpg'"></label><br><br>
            </div>
            <button @click="Register">Register</button>

        </div>
        <!--End RegisterPet-->
        <!--Adopt-->
        <div v-show="Log==3">
            <label for="">Adopt</label>

            <table>
                <thead>
                    <tr>
                        <th>Pet</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Species</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody v-show="Pets.length>0">
                    <tr v-for="pets in Pets" v-show="pets.Status=='Adoptable'">
                        <td><img :src=pets.Pet></td>
                        <td>{{pets.Name}}</td>
                        <td>{{pets.Type}}</td>
                        <td>{{pets.Species}}</td>
                        <td>{{pets.Gender}}</td>
                        <td>{{pets.Age}}</td>
                        <td>{{pets.Color}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End Adopt-->
    </div>
    <script src="main.js"></script>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>