<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!---->
    <div id="root">
        <!--Login-->
        <div v-show="Log==0">
            Username<input v-model="Userl" type="text">
            <br>
            Pass<input v-model="Pass" type="password">
            <br>
            <button @click="Login">Login</button>
        </div>
        <!--End Login-->
        <label for="">----------</label>
        <!--Main-->
        <div v-show="Log==1">
            <label for="">Main</label>
            <label v-for="user in User">{{user.login.username}}</label>
            <table>
                <thead>
                    <tr>
                        <th>Pet</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Species</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Color</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody v-show="Pets.length>0">
                    <tr v-for="pets in Pets">
                        <td>{{pets.Image}}</td>
                        <td>{{pets.Name}}</td>
                        <td>{{pets.Type}}</td>
                        <td>{{pets.Species}}</td>
                        <td>{{pets.Gender}}</td>
                        <td>{{pets.Age}}</td>
                        <td>{{pets.Color}}</td>
                        <td>{{pets.Status}}</td>
                    </tr>
                </tbody>
            </table>
            <button @click="Log=2">Register</button>
            <!--Admin-->
            <div v-for="user in User" v-show="user.Type==0">
                <label for="">Admin</label>
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Gender</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Pets/Adopt</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in Users" v-sho2="user.Type!=0">
                            <td><img :src=user.picture.thumbnail alt=""></td>
                            <td>{{user.name.first}} {{user.name.last}}</td>
                            <td>{{user.login.username}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.Pets}} / {{user.Adopt}}</td>
                            <td><button>a</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--End Admin-->
        </div>
        <!--End Main-->
        <label for="">----------</label>
        <!--RegisterPet-->
        <div v-show="Log==2">
            <label for="">RegisterPet</label>
            Name<input v-model="NameP" type="text">
            <select v-model="TypeP">
                <option value="Cat">Cat</option>
                <option value="Dog">Dog</option>
            </select>
            <select v-model="GenderP">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
            <br>
            Species<input v-model="SpeciesP" type="text">
            Age<input v-model="AgeP" type="text">
            Color<input v-model="ColorP" type="text">
            <button @click="Register">Register</button>
            
        </div>
        <!--End RegisterPet-->
        <label for="">----------</label>
        <!--Adopt-->
        <div v-show="Log==3">
            <label for="">Adopt</label>
            <table>
                <thead>
                    <tr>
                        <th>Pet</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Species</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End Adopt-->
        <label for="">----------</label>

        <label for="">----------</label>
    </div>
    <script src="main.js"></script>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>